<nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">Logo</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="sass.html">Sass</a></li>
       <li><a href="badges.html">Components</a></li>
       <li><a href="collapsible.html">JavaScript</a></li>
     </ul>
   </div>
 </nav>

<button (click)="cargarDatos()" type="button" name="button">ClickMe</button>

<input #id>

<button (click)="idHero(id.value)" type="button" name="button">Mostrar</button>




<input type="text" [(ngModel)]="ancho" name="" value="">
<input type="text" [(ngModel)]="alto" name="" value="">
<img src="http://www.greenday.com//sites/g/files/g2000006086/f/201609/GD-FBOG.jpg" [height]="alto" width="{{ancho}}" alt="">
<img src="http://www.greenday.com//sites/g/files/g2000006086/f/201609/GD-FBOG.jpg" width="{{ancho}}" alt="">

<app-marvelapi></app-marvelapi>
